table,
th,
td {
  border: 1px solid black;
  text-align: center;
}

table {
  width: 50%;
  margin-left: 0;
}

th {
  background-color: yellow;
}

td:nth-child(1) {
  background-color: rgb(16, 189, 204);
}

td:nth-child(2) {
  color: white;
  background-color: black;
}

td:nth-child(3) {
  background-color: pink;
}

h2 {
  font-family: "Poppins", sans-serif;
  text-align: left;
  margin-left: 0;
}
